apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: analytics-data-pvc
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi
#  storageClassName: vsphere-retain
